{% extends "base.html" %}
{% load base_extra staticfiles %}
{% block title %} Profile details {% endblock %}
{% block content %}
<div class="container mt-100">
  <p class="h1 text-center">Profile details</p>
  <div class="row is-table-row">
    <div class="col-md-4 col-sm-4 well">
      {% if request.user %}
        {% if profile_picture %}
          <img src="/{{ profile_picture }}" height="30"/>
        {% else %}
          <span class="glyphicon glyphicon-user"></span>
        {% endif %}
        {{ request.user.last_name }} {{ request.user.first_name }}
      {% endif %}
      <a class="btn btn-success btn-lg float-right" href="{% url 'bookapp:book_upload' %}">Add new book</a>
    </div>
    <div class="col-md-4 col-sm-4 well">
      <span class="glyphicon glyphicon-envelope"></span>{{ request.user.email }}
    </div>
  </div>
  <div class="row is-table-row">
    <div class="col-md-8 well">
      <h6>My Books:</h6>
      {% if books %}
        {% for book in books %}
          <div class="w-100 well" style="display: block">
            <div class="book-cover-block"><a href="{% url 'bookapp:bookinfo' book.id %}"><img src="/{{ book.cover }}" height="300" /></a></div>
            <div class="book-info-block">
              <strong>Author: </strong>{{ book.author }}<br/>
              <strong>Book name: </strong>{{ book.name }}<br/>
              <strong>Description: </strong>{{ book.description }}<br/>
              <strong>Added: </strong>{{ book.date_added }}
            </div>
            <div class="clear"></div>
          </div>
        {% endfor %}
      {% else %}
        Entries not exists
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}